@import 'config';

/* Layout Containers */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    color: $dark-gray; 
    @include set-default-grid;
}

header {
    @include set-background($gray);
    @include set-default-grid;
}

nav {
    @include set-background($light-gray);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    border-bottom: solid 1px #fff;
}

main {
    @include set-background($gray);
}

footer {
    @include set-background($gray);
}

/* Layout Containers */

/* Tag Default Styling */

div {
    @include set-background($light-gray);
}

a {
    text-decoration: none;
    color: $bright-field-green;

    &:hover {
        text-decoration: underline;
    }

    &:visited {
        color: $bright-field-green;
    }
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

/* Tag Default Styling */
