@import 'config';

/* Layout Containers */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    color: $dark-gray; 
    @include set-default-grid(1fr, 1fr, 0rem);
}

header {
    margin: 0;
    padding: 0;
    @include set-background($gray);
    @include set-default-grid;

    img {
        margin-top: 3.5rem;
    }
}

nav {
    position: fixed;
    z-index: 100;
    width: auto;
    top: 0;

    ul {
        display: flex;
    }

    .container-menu-icon{
        padding: .1rem .6rem;
        margin:0;
        border-radius: .2rem;
        
        .menu-icon {
            width: 3.0rem;
            height: .3rem;
            margin: .6rem 0;
            transition: 0.4s;
            border-radius: .2rem;
            background-color: $bright-field-green;
        }
    }
}

main {
    @include set-background($gray);
    @include set-default-grid(1fr, 1fr, 0rem);
}

footer {
    @include set-background($gray);
    @include set-default-grid;
}

/* Tag Default Styling */

a {
    padding: 0.5rem;
    margin: 0.5rem;
    text-decoration: none;
    @include set-background($gray);
    border-radius: 4px;

    &:hover {

        text-decoration: underline;
    }
}

ul {
    list-style: none;
}

img {
    margin: 0;
    padding: 0;
}

/* Tag Default Styling */


